* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  color: red;
}

#root {
  pre {
    font-size: 13px;
    overflow: auto;
  }
}

$primaryColor: #148bed;

a {
  color: #148bed;
  text-decoration: unset;
}

code {
  font-size: 14px;
  color: #09355a;
  background-color: #f1f1f1;
  padding: 2px 6px;
  border-radius: 3px;
}

pre code {
  padding: 0;
}

h2,
h3,
h4,
h5 {
  margin-top: 20px;
  padding: 8px 0;

  &:first-child {
    margin-top: 0;
  }

  &:target {
    color: $primaryColor;
  }
}

h2 {
  margin-bottom: 16px;
  border-bottom: 1px solid #eee
}

h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 10px;
  color: #666;
}

.container {
  padding: 8px;
  max-width: 1200px;
  margin: 0 auto 50px;
}

.header {
  margin: 20px 0;

  .name {
    font-weight: 300;
    color: #333;
    font-size: 42px;
  }

  .icon {
    margin-top: 16px;

    &>* {
      margin-right: 4px;
    }
  }

  .blockquote {
    color: #777;
    font-size: 15px;
    margin-top: 4px;
  }
}

.wrap {
  display: flex;
  margin: 0 -6px;

  .col {
    width: 50%;
    padding: 8px;
    flex: none;
  }
}

.perview-card {
  padding: 16px;
  width: 100%;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.15);
  border-radius: 6px;
  margin-bottom: 12px;

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .desc {
    color: #888;
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.5;
  }

  .children {
    margin-top: 10px;
    padding: 12px;
    border: 1px dashed #ddd;
    border-radius: 2px;
  }

  .handle {
    text-align: right;
    line-height: 1;
    margin: 6px 0;

    span {
      cursor: pointer;
      font-size: 12px;
      color: #888;
    }
  }
}

.pointer {
  cursor: pointer;
  color: #777;
}

.custom-popup {
  width: 80vw;
  height: 50vh;
  background: #fff;
  padding: 20px;
  text-align: center;
}

.docs {
  p {
    color: #333;
    line-height: 1.6;
    line-height: 1.65;
    letter-spacing: 0.1px;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: max-content;
    overflow-x: auto;
    display: block;

    thead th {
      text-align: left;
    }
  }

  td,
  th {
    border: 1px solid #eee;
    padding: 8px 12px;
  }
}


@media screen and (max-width: 768px) {
  .header {
    .name {
      font-size: 30px;
    }
  }

  .wrap {
    flex-wrap: wrap;
    margin: 0;

    .col {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .container {
    margin-bottom: 0;
    padding: 12px;
  }
}
